<header>
    <nav>
        <!-- <div class="logo_container">
            <a href="#" class="logo__link">
              <img src="@img/logo-doctor.jpg" alt="Logo" class="logo_img">
              <div class="logo__text">
                <span class="logo__text-span">WE CARE</span>
              </div>

            </a>
          </div> -->
          <a href="#" class="logo__link">
            <div class="logo__text">
                <span class="logo__text_first">WE
                <span class="logo__text_second">CARE</span></span>
            </div>
        </a>

          <div id="root"></div>
          <div>
            <button id="registration-btn" class="none">Create Visit</button>
            <button id="login-btn">Login</button>
          </div>
    </nav>


</header>